<h1>Docker + Neo4J + Node</h1>

<table>
    <tr>
        <th>Category</th>
        <th>Name</th>
    </tr>
    {{#each nodes}}
        <tr>
            <td>{{category}}</td>
            <td>{{name}}</td>
        </tr>
    {{/each}}
</table>